/* @font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI'), url(./fonts/segoe-ui/Segoe-UI.ttf) format('truetype');
} */

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"),
    url("./fonts/segoe-ui/Segoe-UI.ttf") format("truetype");
  font-weight:normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue"),
    url("./fonts/bebas_neue/BebasNeue-Regular.otf") format("opentype");
  font-weight:normal;
}

body {
  margin: 0;
  font-family: "Segoe UI";
  /* font-family: "Bebas Neue" !important; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
